*.class
**/target
**/.project
**/.settings
**/.classpath
**/.idea
**/*.iml
*.log

# git < 1.8.2 doesn't know the ** wildcard
/*/*/target
/*/*/*.iml
/*/*/*.idea
/*/*/test-suite.log
/*/*/server.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*